.service_headline{
    font-size:40px
}

.font_icons{
    font-size: 25px;
    color: rgb(10, 92, 168);
}
.paragraph_service{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.paragraph_service p{
    text-align: center;
    line-height: 30px;
    padding:15px 0;
}
.name_service{
    font-size:25px;
    font-weight: 500;
}
.service_row{
    display:flex;
    flex-direction: column;
    margin-bottom:100px;
}

.package_section{
    background: url(../img/dark_back_2.jpg) no-repeat 50% 50%;
    background-size:cover;
}
.list_of_service li:before{
    content:  '✔';
    padding-right: 10px;
}
.tabs{
    width: 100%;
    background-color: rgba(255,255,255,0.3);
}
.header_tabs{
    display: flex;
    cursor:pointer;
    justify-content: space-around;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background-color:rgb(172, 158, 158);

}
.name_tab{
    padding:10px;
    width: 100%;
    text-align: center; 
}
.name_tab:hover{
    background-color:rgb(107, 98, 98);
    transition: 1s;
}
.click_tab_name{
    background-color:rgb(107, 98, 98);
}
.tabs_container{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.tab{
    margin-left: 20px;
    display: none;
    padding:15px 0;
}

.hide{
    display: none;
}
.show{
    display: block;
}

.list_of_service > li{
    padding-bottom:20px;
    color: rgb(58, 53, 53);
    font-weight:600;
    
}
.price_pack{
    font-size:20px;
    font-weight: 500;
    margin:2px 0 25px 0;
    color: rgb(0, 0, 0);
}


@media(min-width:768px){
    .service_row{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .package_row{
        flex-direction: row;
    }
    .header_tabs{
        font-size: 20px;
    }
    .name_tab{
        padding:20px;
    }
    .price_pack{
        font-size:25px;
    }

}

